*{
	margin: 0px;
	padding: 0px;
}
#resume_show{
	display: none;
}
#list_show{
	display: none;
}
.head_line{
	width: 500px;
	margin: 10px auto;
	display: block;
	height: 40px;
}
#first_border{
	border-bottom: 1px solid black;
	width: 100%;
}
.head_line li{
	list-style: none;
	float: left;
	line-height: 40px;
	text-align: center;
	width: 49.5%;
	background: #eee;
	border: 1px solid black;
}
.topbox{
	margin-top: 20px;
}
#college_name{
	float: left;
	margin: 0px;
	margin-left: 20px;
	text-decoration: none;
}
.college p{
	display: inline-block;
	float: right;
	margin-left: 10%;
	margin-right: 10px;
}
.border{
	margin-top: 10px;
	border-bottom: 1px solid black;
}
#name{
	margin-left:50%;
}
#email{
	margin-left:49%;
}
.education{
	margin: 10px 0px 10px 10px;
}
.major{
	display: block;
	margin-top: 20px;
	margin-left: 20px;
}
.course{
	margin-left:10px;
	margin-bottom: 10px;
}
.courses{
	margin-left: 20px;
}
.experience{
	margin: 0 0 10px 10px;
}
.sap{
	margin-left: 20px;
}
.ul1{
	display: none;
}
.li{
	float: left;
	list-style: none;
	width: 24%;
	text-align: center;
}
.ul1 li{
	border-top: 1px solid black;
	line-height: 20px;
	float:none;
	list-style: none;
	background-color:#eee; 
	display: block;
}
#ul{
	width:100%; 
	height:40px; 
	background-color:#eee; 
	line-height: 40px;
}
#border1{
	margin-top: 90px;
	border-bottom: 1.5px solid black;
}
.logo{
	padding: 10px;
}
.search{
	margin:10px 30px;
	padding: 5px;
	border: 1px black solid;
}
.search-form{
	background-color: #fff;
	margin: 0 10px;
}
.search-text{
	height: 25px;
	line-height: 25px;
	width: 350px;
}
.search-button{
	width: 50px;
	height: 25px;
	margin-left: 10px;
	margin-top:10px;
}
.companybox{
	margin: 10px;
	clear: both;
}
.company{
	float: left;
	width: 33%;
	text-align: center;
}

.companyname{
	width: 25%;
	text-align: center;

}
#show div{
	float: left;
	width: 25%;
}
#border2{
	border-bottom: 1px solid black;
	margin-top: 50px;
}
.information{
	margin: 50px 10px;
}
.companybox h4{
	margin-left: 40%;
	margin-bottom: 20px;
}
.form-return{
	border: 1px solid black;
	height: 100px;
	width: 90%;
	margin: 10px;
}
.database{
	margin:30px 30px;
	padding: 15px;
	border: 1px black solid;
}
.border2{
	width: 100%;
	border-top: solid 1.5px black;
}
.database-text{
	height: 25px;
	line-height: 25px;
	width: 350px;
}
#database_submit{
	width: 50px;
}
#search_result{
	list-style: none;
	margin: 3px;
}
#skill_head{
	margin-left: 10px;
}